body {
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    display: flex;
}

.header {
    height: 100px;
}

.left,
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px;
    border: 0px;
    margin: 0px;
}


.header,
.hero,
.footer {
    background-color: #1F2937;
}

.left h1,
.right a {
    font-size: 24px;
    color: #f9faf8;
}

.right {
    margin: 20px;
    gap: 35px;
}

.right a,
.left h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Cut off */

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero p,
.footer p,
.right a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    padding: 15px 30px;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    width: 150px;
    justify-content: center;
    color: #E5E7EB;
    font-weight: bold;
}

.hero {
    height: 400px;
    display: flex;
    justify-content: start;
}

.left-2,
.right-2 {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
}

.left-2 h1,
.left-2 p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    width: 500px;
}

.rand-info {
    display: flex;
    flex-direction: column;
}

.rand-info h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

button.empty-but {
    width: 200px;
}

/* .quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
} */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 500px;
    /* justify-content: center;
    align-items: center; */
}

 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto; 
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1F2937;
    width: 700px; 
    margin:0 auto;
    /* padding: 75px 75px 0px 75px; */
 }


.quote .person {
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    margin-top: 0px;
    font-weight: bold;
    font-size: 32px;
    width: 700px;
    margin: 0 auto;

}

.rand-info {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
}

.items {
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
}

.item {
    width: 105px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
}

.item p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;

}

.empty-but {
    display: flex;
    border: 5px solid #3882F6;
    height: 200px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 5px;
}

.sign-up-ad {
    background-color:#f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 300px;
}

.blue-box {
    background-color: #3882F6;
    width: 850px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.left-3 {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 45px auto;
}

.left-3 h4,
.left-3 p {
    font-family: Arial, Helvetica, sans-serif;
}

.left-3 h4 {
    font-weight: bold;
    font-size: 24px;

}

.left-3 p  {
    color: #E5E7EB;
}

.right-3 {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
}

.left-3 h4 {
    margin-bottom: 0px;
}

.left-3 p {
    margin-top: 0px;
}

.right-3 button {
    background-color: #3882F6;
    padding: 15px 30px;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    width: 150px;
    justify-content: center;
    color: #E5E7EB;
    font-weight: bold;
}

body {
    background-color:#1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}